<script src="https://kit.fontawesome.com/a7c1f97ec0.js"></script>
<div id = "mobile-nav">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item" id="tab">
            <a class="nav-link active" id="footer-nav" href="/">
                <div class="icon-container">

                    <i class="far fa-map" id="myicon"></i>
                    <br>
                    Home
                </div>
            </a>
        </li>
        <li class="nav-item" id="tab">
            <a class="nav-link" id="footer-nav" href="/journeyplan">
                <div class="icon-container">
                    <i class="fas fa-map-signs" id="myicon"></i>
                    <br>
                    Planner
                </div>
            </a>
        </li>
        <li class="nav-item" id="tab">
            <a class="nav-link" id="footer-nav" href="/routes">
                <div class="icon-container">

                    <i class="fas fa-road" id="myicon"></i>
                    <br>
                    Routes
                </div>

            </a>
        </li>
        <li class="nav-item" id="tab">
            <a class="nav-link" id="footer-nav" href="/favourites">
                <div class="icon-container">

                    <i class="fab fa-gratipay" id="myicon"></i>
                    <br>
                    Favourites
                </div>
            </a>
        </li>
        <li class="nav-item" id="tab">
            <a class="nav-link" id="footer-nav" href="/more">
                <div class="icon-container">
                    <i class="fas fa-plus" id="myicon"></i>
                    <br>
                    More
                </div>
            </a>
        </li>
    </ul>
</div>